body{ background:#fff;font-family:Arial,Helvetica,sans-serif;}
#main {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  height: 100%;
  position: absolute;
  width: 100%;
}
.kf{
  width:1.77rem;
  height: 1.63rem;
  background: url('../images/kf.png');
  background-size: 100% 100%;
  position: fixed;
  top:0.4rem;
  right:0.4rem;
  z-index: 10000;
  transition: all .3s ease;
}
 .kf a{
  display: block;
  width:1.77rem;
  height: 1.63rem;
}
.content {
  width: 100vw;
  height: 100vh;
  background-color: #087cd4;
  background: #087cd4 url(../images/fishing1_bg.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
  overflow-y: scroll;
  overflow-x: hidden;

}
.content .banner{
  width:100%;
  height: 9.97rem;

  /*background: url(../images/bg.png);*/
  /*background-size:100% 100% ;*/
  position: relative;
}
.content .tip{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 8.61rem;
  margin: auto;
  padding-top: 0.5rem;
  /*height: 2.08rem;*/
}
.tip img{
  height: 100%;
  width: auto;
}
.content .downbtn{
  width: 5.36rem;
  height: 1.43rem;
  margin: 0.1rem auto;
} 
.content .downbtn img{
  width: 5.36rem;
  height: 1.43rem;
  vertical-align: middle;
}
.content .bd{
  padding-left:0;
  padding-right:0;
  padding-top:.4rem;
  padding-bottom:.2rem;
  text-align: center;
  position: relative;
  z-index: 20;
}
.content .bd ul{
  width:8.81rem;
  margin:0 auto;
}
.content .bd li{
  width: 8.61rem;
  height: 0.73rem;
  background: url(../images/xl.png);
  background-size: 100%  100% ;
  margin-bottom:.3rem;
  display: flex;
}
.content .bd .ms{
  font-size: 0.52rem;
  font-family: FZLTTHK;
  font-weight: normal;
  display: inline-block;
  text-align:center;
  margin-left: 0.36rem;
}
.content .bd .url{
  width: 3.35rem;
  height: 0.63rem;
  line-height: 0.63rem;
  border-radius: 10px;
  text-align: center;
  font-size: 0.53rem;
  color: #fff;
  display: inline-block;
  margin: 0.06rem 0.05rem  0.06rem 0.23rem;
}
.content .bd .time{
  font-size: 0.31rem;
  line-height: 0.75rem;
  width: 0.9rem;
  color: #740201;
}
.content .bd .btn-open{
  display: inline-block;
  padding-left: 0.2rem;
  width: 1.78rem;
  font-size: 0.42rem;
  height: 0.73rem;
  line-height: 0.73rem;
  font-family: FZLTTHK;
  text-decoration : none ;
  color: #fff;
  
}
.content .bd .btn-open a{
   display: block;
}
.content .hot {
   width: 100%;
   height:  5.81rem;
}
.content .hot img{
  width: 100%;
  height:  5.81rem;
  vertical-align: middle;
}
.content .often{
  text-align: justify;
  position:relative;
  float:left;
  height: auto;
  margin: auto!important;
  width: 100vw;
  padding-bottom: calc((29 / 95)* 100vw);
}
.often-box {
  width: 8.61rem;font-size: 0.33rem;font-family: FZLTTHK;color: #fff;margin: auto;
}
.content .often p{
  padding-bottom: 0.2rem;
  font-weight: 700;
}
.content .often p:last-child {
  padding-bottom: 0.5rem;
}
.content .often  img{
  width: 100%;
  height:  4.67rem;
 vertical-align: middle;
}
.content .often .uu-box{
  display: block;
  position:relative;
  width: 8.61rem;
  height: auto;
  margin-top: 0.2rem;
}
.content .often .uu-box a {
  display: inline-block;
  width: fit-content;
  margin-right: 0.2rem;
}
.content .often .uu-box .uu{
  float: left;
}
.content .footer {
  height: 1rem;
  margin-top:0.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .footer img {
  width:5.4rem;
  height: 0.3rem;
}
.footer-box {
  width: 100%;
  height: 2.04rem;
  /* background:rgba(238,232,222,0.85); */
  position: absolute;
  top:100%;
  bottom: unset;
  transform: translateY(-100%);
  z-index: 1000;
}
.footer-box img{
  width: 100%;
  height: 2.04rem;
}


.uu {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d1317;
  color:#fff;
  /*margin-top: 0.2rem;*/
}
.uu-box>a:first-child>.uu{
  /*margin-top: 0;*/
}
.uu-box>a {width: fit-content;height: auto;display:block;text-align: right}
.uu span {
  position: relative;
  padding: calc(10px + 0.08rem) calc(25px + 0.05rem) ;
  font-size: 0.25rem;
  margin-top: 0.08rem;
}

.uu::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0.08rem);
  height: calc(100% - 0.1rem);
  border: 0.08rem solid;
  border-image-slice: 1;
  z-index: 1;
  animation: uuTranse 3s infinite;
}



/*@keyframes uuTranse {*/
/*  0% {*/
/*    border-image-source: linear-gradient(60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%),hsl(314, 85%, 66%),hsl(359, 85%, 66%),hsl(44, 85%, 66%),hsl(89, 85%, 66%),hsl(134, 85%, 66%),hsl(179, 85%, 66%));*/
/*  }*/

/*  50%  {*/
/*    border-image-source: linear-gradient(300deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%),hsl(314, 85%, 66%),hsl(359, 85%, 66%),hsl(44, 85%, 66%),hsl(89, 85%, 66%),hsl(134, 85%, 66%),hsl(179, 85%, 66%));*/
/*  }*/
/*  100%  {*/
/*    border-image-source: linear-gradient(60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%),hsl(314, 85%, 66%),hsl(359, 85%, 66%),hsl(44, 85%, 66%),hsl(89, 85%, 66%),hsl(134, 85%, 66%),hsl(179, 85%, 66%));*/
/*  }*/
/*}*/

@keyframes uuTranse {
  0% {
    border-image-source: linear-gradient(60deg,#fffef5,#ffee65,#fbcf2a,#cc9340);
  }

  50%  {
    border-image-source: linear-gradient(300deg,#fffef5,#ffee65,#fbcf2a,#cc9340);
  }
  100%  {
    border-image-source: linear-gradient(60deg, #fffef5,#ffee65,#fbcf2a,#cc9340);
  }
}

.title-landing-style {
  position: absolute;
  display: flex;
  width: 100vw !important;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 1.3rem !important;
  border-radius: 5rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  font-size: 0.26rem;
  animation:  fontTranse 1.2s infinite;
}
.theFlaseDiv {
  position: absolute;
  display: block;
  z-index: -1;
  width: 8.61rem;
  height: 1.3rem;
  background-image: linear-gradient(to top, #ba3331 0%, #ff0844 100%);
  border-radius: 5rem;
}

.border-r {
  display: inline-block;
  color:#fff;
  padding:0.05rem;
  margin-top: 0.2rem;
  background: linear-gradient(60deg,#fffef5,#ffee65,#fbcf2a,#cc9340);
  animation: aaTranse 3s infinite;
}
.border-r>div{
  padding:0.2rem 0.5rem;background:#087cd4
}
.aa-box {margin-top: 1.5rem}
.border-v {
  position:relative;
  float: left;
  margin-left:calc(50% - 4.305rem);
  width: 8.61rem;
  padding: 6px;
  padding-bottom: 0;
  background: linear-gradient(60deg,#fffef5,#ffee65,#fbcf2a,#cc9340);
  animation: aaTranse 3s infinite;
}

@keyframes aaTranse{
  0% {
    background: linear-gradient(60deg,#fffef5,#ffee65,#fbcf2a,#cc9340,#fbcf2a,#ffee65,#fffef5);
  }

  50%  {
    background: linear-gradient(320deg,#fffef5,#ffee65,#fbcf2a,#cc9340,#fbcf2a,#ffee65,#fffef5);
  }
  100%  {
    background: linear-gradient(60deg,#fffef5,#ffee65,#fbcf2a,#cc9340,#fbcf2a,#ffee65,#fffef5);
  }
}


@keyframes fontTranse{
  0% {
    font-size: 0.26rem;
  }

  50%  {
    font-size: 0.32rem;
  }
  100%  {
    font-size: 0.26rem;
  }
}

